.hero {
	text-align: center;
    padding-top: 40px;
}

.hero-paragraph {
	@include font-size(4, mobile, true, true, true);
	@if ( get-font-size(4, desktop) != get-font-size(4, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(4, desktop, true, true, true);
		}
	}
    margin-bottom: 40px;
}

.hero-form {
	max-width: 440px;
	margin: 0 auto;
}
.hero-app {
	position: relative;
}

.hero-illustration {
	position: absolute;
	margin-top: 48px;
}

.hero-shape {
	display: none;
    position: absolute;
}

.hero-main-shape {

	svg {
		width: 140%;
		height: auto;
	}
}

.device-mockup {
	position: relative;
	width: 350px;
	height: auto;
	padding: 40px 0;
	margin: 0 auto;
	visibility: hidden;
	opacity: 0;
	transform: translateY(40px);
	transition: opacity .6s cubic-bezier(0.5, -0.01, 0, 1.005), transform .6s cubic-bezier(0.5, -0.01, 0, 1.005);

	&.has-loaded {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

@include media( '>medium' ) {

  .hero {
		text-align: left;
        padding-top: 80px;
    }

	.hero-inner {
		/* Split hero in two half */
		display: flex;
	}

	.hero-copy {
		padding-top: 140px;
		padding-right: 48px;
		min-width: 512px;
	}

	.hero-form {
		margin: 0;
	}

	.hero-illustration {
		margin-top: -143px;
		padding-bottom: 0;
	}

	.hero-shape {
		display: block;
	}

	.hero-shape-1 {
		left: -32px;
		top: 542px;
	}

	.hero-shape-2 {
		left: -733px;
		top: 638px;
	}

	.device-mockup {
		max-width: none;
		padding: 0;
	}

	.hero-main-shape {

		svg {
			width: auto;
			height: 647px;
		}
	}
}

@include media( '>large' ) {

    .hero-copy {
        padding-right: 92px;
        min-width: 620px;
    }
}
